/* html sections */
body {
  font-family: "Montserrat";
  background-color: #f1d6ab;
}

br {
  line-height: 2;
}

h1 {
  font-family: 'Montserrat-Bold';
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
}

h2, h3, h4, h5 {
  font-family: "Montserrat-Bold";
  text-align: center;
}

section {
  background-color: #000;
}

/* Navigation bar */
.navbar {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: bold;
}

.navbar-brand {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1rem;
  font-family: "Montserrat";
}

/* buttons */
.whatToExpect {
  position: relative;
  left: 22rem;
  top: 2rem;
}

.mapNdirections {
  background-color: #000;
  padding: 7% 15%;
  text-align: center;
}

/* circles */
.before {
  width: 50%;
  display: inline;
  position: static;
}

.during {
  width: 50%;
  display: inline;
  position: static;
}

.after {
  width: 50%;
  display: inline;
  position: static;
}

.bounce {
  position: fixed;
  left: 50%;
  bottom: 0;
  margin-top: -25px;
  margin-left: -25px;
  height: 50px;
  width: 50px;
  background: red;
  -webkit-animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0% {
    bottom: 5px;
  }

  25%, 75% {
    bottom: 15px;
  }

  50% {
    bottom: 20px;
  }

  100% {
    bottom: 0;
  }
}

/* pictures */
.home-pic {
  width: 100%;
  padding: 7% 15%;
  text-align: center;
}

.welcome-home-pic {
  width: 100%;
  padding: 7% 15%;
  text-align: center;
}

/* containers/classes */
.container-fluid {
  padding: 3% 15%;
}

.getPluggedIn {
  background-color: #f1d6ab;
  font-family: 'PT Serif', serif;
  padding: 7% 15%;
}

.give {
  background-color: #f1d6ab;
  font-family: 'PT Serif', serif;
  padding: 7% 15%;
}

.googleMaps {
  background-color: #f1d6ab;
  font-family: 'PT Serif', serif;
  padding: 7% 15%;
}

.maps {
  background-color: #f1d6ab;
  font-family: 'PT Serif', serif;
  padding: 7% 15%;
}

.messages {
  background-color: #f1d6ab;
  font-family: 'PT Serif', serif;
  padding: 7% 15%;
}

.ministries {
  background-color: #f1d6ab;
  font-family: 'PT Serif', serif;
  padding: 7% 15%;
}

.social-icon {
  margin: 20px 10px;
}

.team {
  background-color: #f1d6ab;
  font-family: 'PT Serif', serif;
  padding: 7% 15%;
}

.WhoAreWe {
  background-color: #f1d6ab;
  font-family: 'PT Serif', serif;
  padding: 7% 15%;
}

#circles {
  background-color: #44000d;
}

#footer {
  background-color: #44000d;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

#home-pic {
  background-color: #44000d;
}

#carouselExampleSlidesOnly {
  height: 900px;
  width: auto;
  overflow: hidden;
}

#values {
  background-color: #f1d6ab;
  padding: 7% 15%;
}

#Welcome-Home {
  background-color: #f1d6ab;
  font-family: 'PT Serif', serif;
  padding: 7% 15%;
  text-align: center;
}

@media (max-width: 1565px) {
  .home-pic {
    width: 50%;
    padding: 7% 15%;
    text-align: center;
    position: static;
  }

  .welcome-home-pic {
    width: 50%;
    padding: 7% 15%;
    text-align: center;
    position: static;
  }

  .before {
    width: 50%;
    display: inline;
    position: static;
  }

  .during {
    width: 50%;
    display: inline;
    position: static;
  }

  .after {
    width: 50%;
    display: inline;
    position: static;
  }
}

//*font-family: 'Montserrat', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Satisfy', cursive;
font-family: 'Lobster Two', cursive;
* //
