/* html sections */

body {
  font-family: "Montserrat";
  background-color: #f1d6ab;
}

br {
  line-height: 2;
}

h1 {
  font-family: 'Montserrat-Bold';
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
}

h2, h3, h4, h5 {
  font-family: "Montserrat-Bold";
  text-align: center;
}

section {
  background-color: #000;
}

/* Navigation bar */
.navbar {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: bold;
}

.navbar-brand {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1rem;
  font-family: "Montserrat";
}

/* buttons */
.whatToExpect {
  position: relative;
  left: 22rem;
  top: 2rem;
}

.mapNdirections {
  background-color: #000;
  padding: 7% 15%;
  text-align: center;
}

/* circles */
.before {
  background-color: #3a9679;
  border-radius: 100%;
  color: white;
  padding: 7% 10%;
  text-align: center;
}

.during {
  background-color: #1b7fbd;
  border-radius: 100%;
  color: white;
  padding: 7% 15%;
  text-align: center;
}

.after {
  background-color: #a773c3;
  border-radius: 100%;
  color: white;
  padding: 7% 15%;
  text-align: center;
}

/* pictures */
.home-pic {
  width: 100%;
  padding: 7% 15%;
  text-align: center;
}

.welcome-home-pic {
  width: 100%;
  padding: 7% 15%;
  text-align: center;
}

/* containers/classes */
.container-fluid {
  padding: 3% 15%;
}

.getPluggedIn {
  background-color: #f1d6ab;
  font-family: 'PT Serif', serif;
  padding: 7% 15%;
}

.give {
  background-color: #f1d6ab;
  font-family: 'PT Serif', serif;
  padding: 7% 15%;
}

.maps {
  background-color: #f1d6ab;
  font-family: 'PT Serif', serif;
  padding: 7% 15%;
}

.messages {
  background-color: #f1d6ab;
  font-family: 'PT Serif', serif;
  padding: 7% 15%;
}

.ministries {
  background-color: #f1d6ab;
  font-family: 'PT Serif', serif;
  padding: 7% 15%;
  }

.social-icon {
  margin: 20px 10px;
}

.team {
  background-color: #f1d6ab;
  font-family: 'PT Serif', serif;
  padding: 7% 15%;
}

.WhoAreWe {
  background-color: #f1d6ab;
  font-family: 'PT Serif', serif;
  padding: 7% 15%;
}

#circles {
  background-color: #000;
  font-family: 'PT Serif', serif;
  text-align: center;
}

#footer {
  background-color: #44000d;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

#home-pic {
  background-color: #44000d;
}

#values {
  background-color: #f1d6ab;
  padding: 7% 15%;
}

#Welcome-Home {
  background-color: #f1d6ab;
  font-family: 'PT Serif', serif;
  padding: 7% 15%;
  text-align: center;
}

@media (max-width: 1565px) {
  .home-pic {
    width: 50%;
    padding: 7% 15%;
    text-align: center;
    position: static;
  }

  .welcome-home-pic {
    width: 50%;
    padding: 7% 15%;
    text-align: center;
    position: static;
  }
}

//*font-family: 'Montserrat', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Satisfy', cursive;
font-family: 'Lobster Two', cursive;
* //
